@import "tailwindcss";

@theme {
  /* Реєструємо анімацію в темі */
  --animate-phone-wiggle: wiggle 1s ease-in-out infinite;

  /* Прописуємо самі кроки анімації */
  @keyframes wiggle {
    0%, 100% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
  }
}

/* html {
	min-height: 100%;
} */

/* .road-dashes {
	background-image: repeating-linear-gradient(
		90deg,
		transparent 0 24px,
		rgba(255, 255, 255, 0.9) 24px 64px
	);
	background-size: 56px 100%;
	animation: road-dash 1s linear infinite;
	opacity: 0.85;
}

@keyframes road-dash {
	to {
		background-position: -56px 0;
	}
} */
/* #page-wrapper {
	background:
		linear-gradient(rgba(54 ,65 ,83, 0.5), rgba(54 ,65 ,83, 0.5)),
		url("../images/bg.webp") center / cover no-repeat fixed;
} */
