@import "tailwindcss";

@theme {
  /* Реєструємо анімацію в темі */
  --animate-phone-wiggle: wiggle 1s ease-in-out infinite;

  /* Прописуємо самі кроки анімації */
  @keyframes wiggle {
    0%, 100% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
  }

	  --animate-marquee: marquee 20s linear infinite;

  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
  }
}

.swiper {
	width: 100%;
	max-width: 992px;
	height: 65vh;
	--swiper-navigation-color: rgb(239 68 68);
	> button > svg {
		object-view-box: 0 0 44 44;
	}
}

.swiper-slide {
	width: 100%;
}
.swiper-slide img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

@media (max-width: 1098px) {
	.swiper {
		max-width: 902px;
		height: 75vh;
	}
}

@media (max-width: 1024px) {
	.swiper {
		max-width: 840px;
		height: 75vh;
	}


}

@media (max-width: 892px) {
	.swiper {
		max-width: 590px;
		height: 75vh;
	}

	.swiper button {
		display: none;
	}
}

@media (max-width: 640px) {
	.swiper {
		max-width: 380px;
	}
}


@media (max-width: 420px) {
	.swiper {
		max-width: 288px;

	}


}

/* @media (max-width: 480px) {
	.swiper {
		height: 40vh;
	}
} */

/* html {
	min-height: 100%;
} */

/* .road-dashes {
	background-image: repeating-linear-gradient(
		90deg,
		transparent 0 24px,
		rgba(255, 255, 255, 0.9) 24px 64px
	);
	background-size: 56px 100%;
	animation: road-dash 1s linear infinite;
	opacity: 0.85;
}

@keyframes road-dash {
	to {
		background-position: -56px 0;
	}
} */
/* #page-wrapper {
	background:
		linear-gradient(rgba(54 ,65 ,83, 0.5), rgba(54 ,65 ,83, 0.5)),
		url("../images/bg.webp") center / cover no-repeat fixed;
} */
